.describefont{
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  font-size: 2em;
  text-align: center;
  color: #f4c141;
  padding: 0 2%;
}

img{
  background-size: 100% auto;
  height: 100%;
}
