page-user .logo img{
  width: 350px;
}

#mainback{
  background-size: cover;
  height: 100%;
  position: relative;
}

img{
  position: relative;
  width: 100vw;
  height: 100%;
}

#mainback .login {
  position: absolute;
  top: 80vh;
  left: 25vw;
}
